@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

body
{
	/*background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/images/Adalaj.png");*/
	background-size: cover;
    font-family: 'Charmonman';
	color: #fff;
}
.adalaj
{
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("assets/images/Adalaj.png");
}
.jatayu{
	background-image: url(assets/images/jatayu Earth Center.png);
	background-size: cover;
}
header
{
	position: unset;
	border: 2px solid #fff;
	height: 100px;
}
.nav
{
	margin: 10px 20px;

}
a
{
	text-decoration: none;
	color: #fff;
	font-weight: 900;
	font-size: 25px;	
	padding: 5px 10px;
}

a:hover
{
	color: #f2f1b5;
	/*background-color: #000;*/
	transition: ease;
	transition: .6s;
	border:2px solid #fff;
	border-radius: 20px;
	box-shadow: 4px 2px 10px #3d3c3c;
}

ul
{
	float: right;
}
li
{
	display: inline;
}

.logo
{
	float: left;
	font-family:'Playfair', serif;
	font-size: 50px;
	margin-top: 5px;
}


.main
{
	font-family: 'Playfair', serif;
	font-size: 50px;
	color: #fff;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.button
{
	position: absolute;
	top:70%;
	left:50%;
	transform: translate(-50%, -50%);
}

.btn
{
	margin: 2px 5px;
}

.para{
    font-family:'Playfair', serif;
	font-size: 20px;
	margin: 20px;
	padding: 10px;
}



/* Feedback css */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}