@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');
@import url(font-awesome.min.css);
html{
	scroll-behavior: smooth;
}
#logo{
	font-family: 'Sofia', cursive;
}

.navbar-nav{
	font-family: 'Playfair', serif;
	font-size: 20px;
}
.pink{
	color: #FFAEBC;

}
.blue{
	color: #A0E7E5;
}
.mint{
	color: #B4F8C8;
}
.purple{
	color: #D291BC;
}


.pink:hover{
	background-color: rgba(255, 174, 188, 0.2);
	color: #fff;
	transition: 2s ease;
}
.blue:hover{
	background-color: rgba(160, 231, 229, 0.2);
	color: #fff;
	transition: 2s ease;
}
.mint:hover{
	background-color: rgba(180, 248, 200, 0.2);
	color: #fff;
	transition: 2s ease;
}
.purple:hover{
	background-color: rgba(210, 145, 188, 0.2);
	color: #fff;
	transition: 2s ease;
}

.container-fluid{
	height: 600px;
	/*width: 100px;*/
}

.carousel-item{
	background-color: #000;
}

.d-block{
	height: 450px;
	opacity: 0.5;
}

.carousel-heading{
	font-size: 50px;
	font-family: 'Playfair', serif;
}


.card{
	margin: 10px;
	border-radius: 5px;	
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

.card-blue{
	background-image: linear-gradient(#A0E7E5, #A0E7E5);
	width: 350px;
	height: 290px;
	overflow: hidden;
	
}

.card-header{
	font-size: 20px;
	font-weight: 20px;
	color: rgb(22, 7, 7);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.card-body{
	padding: 0px;
	font-family: 'Playfair', serif;
	font-size: 20px;

}

#showcase{
	background-color: rgba(160, 231, 229, 0.5);
	padding: 50px;
	height: 100%;
}

.card-img{
	object-fit: cover;
	margin: 0px;
	width: 350px;
	height: 250px;
	padding: 0px;
}

#about{
	padding: 50px;
 padding-top: 70px;
  /*background-color: rgba(180, 248, 200, 0.5);*/
}

.container {
  padding: 2px 16px;
}
.card-avatar{
  background-image: linear-gradient(#0c2213, #B4F8C8);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;
  width: 50%;
  
  border-color: #B4F8C8;
  border-width: 100px;
 /* width: 350px;
    height: 290px;
    overflow: hidden;*/

}

b{
	color: #000;
}

.card-header{
	font-style: bold;
}

.avatar{
  border-radius: 10px;
  margin:10px;
  height: 50vh;


  }

#contact{
	background-color:#227786;
	color: #fff; 
	height: 55vh;

}

a{
	font-family: 'Playfair', serif;
	font-size: 20px;
	color: #fff;
	padding-top: 2px 10px;
	text-decoration: none;
}

.mail, .phone{
	padding: 10px;
}

.icon{
	color: #fff;
	padding: 10px;
	margin-right: 20px
}
.icon2{
	color: #fff;
	padding: 10px;
	margin-right: 10px
}

.mail:hover{
	
	border-radius: 15px;
	border: 2px solid #fff;
	padding: 5px;
	transition: ease;
}
.mail2:hover{
	
	border-radius: 10px;
	border: 2px solid #fff;
	padding: 5px;
	transition: ease;
}

.phone:hover{
	
	border-radius: 20px;
	padding: 5px;
	border: 2px solid #fff;
	transition: ease;
}
#login-form-wrap {
	font-size: larger;
	background-color: transparent;
	width: 35%;
	margin: 30px auto;
	text-align: center;
	padding:20px 0 0 0;
	border-radius: 4px;
	box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
#login-form {
	padding:0 60px;
}
/*For Footer*/
.Comment {
     color: #13b0be;
}
.contact_form {
     background: #2094b1fd;
     padding: 45px;
}
label {
     float: left;
     margin-bottom: 5px;
}
.footer {
     font-family: 'Playfair', serif;
     background-color: #7a082b;
     margin-top: 50px;
}
.footer .Follow {
     margin-bottom: 27px;
     
}
.footer .Follow h3 {
     color: #fff;
     font-size: 25px;
     line-height: 30px;
     font-weight: 600;
     text-transform: uppercase;
     border-width: 1px;
     display: inline-block;
     padding-bottom: 2px;
     padding-bottom: 27px;
}
.footer span {
     font-size: 17px;
     display: block;
     color: #fff;
}
ul.link li a {
     color: #fff;
     font-size: 17px;
}
ul.link li a:hover {
     color: #878686;
}
.footer .Newsletter {
     padding: 13px 26px;
     padding-top: 10px;
     padding-right: 26px;
     padding-bottom: 10px;
     padding-left: 15px;
     border: #fff solid 1px;
     width: 100%;
     margin-bottom: 15px;
}
.footer .Subscribe {
     font-family: 'Playfair', serif;
     padding: 10px 30px;
     border: #0e0c0c solid 1px;
     background: #0c0101;
     color: rgb(230, 220, 220);
     float: right;
     border-radius: 6px;
}
.footer .Subscribe:hover {
     color: #fff;
     background-color: #808080;
     border-radius: 10px;
}
.pdn-top-30 {
     padding-top: 35px;
}
ul.location_icon {
     list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
     float: left;
}
ul.location_icon li {
     float: left;
     height: 70px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 20px;
}
ul.location_icon li:last-child {
     padding-right: 0px;
}
ul.location_icon li a {
     margin-bottom: 23px;
}
ul.location_icon span {
     font-size: 17px;
     font-weight: 400;
}

.owl-dot {
    background: #000 !important;
    width: 20px;
    height: 20px;
    margin-bottom: 25px !important;
    border-radius: 100%;
    margin: 0px 5px;
        margin-bottom: 0px;
}

.owl-dot.active {
    background: #15cfe5 !important;
}

.about_page .about {
     margin-bottom: 90px;
}
.about-bg {
     background-color: #b32137;
     margin-top: 90px;
}
.Books-bg .titlepage {
     margin-top: 90px;
}
.Books-bg .read-more {
     margin-bottom: 90px;
}
.about-bg .abouttitle h2 {
     color: #fff;
     text-transform: uppercase;
     font-size: 40px;
     line-height: 45px;
     padding: 40px 0;
     font-weight: 500;
     text-align: center;
}
.contact-page .Contact {
     margin-top: 0px;
}
/*Explor More*/
.explor{
  position: relative;
  width: 50%;
  max-width: 300px;
}

.image {
  display: block;
  width: 50vh;
  height: 50vh;
  padding: 20%;
  border-radius: 20px;
  object-fit: cover;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 50vhs;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.explor:hover .overlay {
  opacity: 1;
}
.explor-btn{
     font-family: 'Playfair', serif;
     padding: 10px 30px;
     border: #0e0c0c solid 1px;
     background: #0c0101;
     color: rgb(230, 220, 220);
     float: right;
     border-radius: 20px;
}
.explor-btn:hover {
     color: #fff;
     background-color: #808080;
     border-radius: 20px;
}


